* {
    box-sizing: border-box;
   
}

html {
    width: 100vh;
    height: auto;
}

body {
    width: 60%;
    height: 100%;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul>li {
    text-decoration: none;
    background-color: rgb(23, 145, 202, 0.60);
}
.logo>img {
    width: 80px;
    height: 80px;
}
.card {
    max-width: 50%;
    height: 50%;
    margin: auto;
    padding: 1rem;
}