<nav class="navbar">
    <div class="logo">
        <img src="{{ asset('img/logo in taberna brasserie sansfond 01 HD.png')}}" alt="Logo de la brasserie">
    </div>
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Boutique</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>