{% block stylesheets %}
<link rel="stylesheet" href="./../public/style.css">
{% endblock %}

<nav class="navbar">
    <div class="logo">
        <img src="./../public/img/logo in taberna brasserie sansfond 01 HD.png" alt="Logo de la brasserie">
    </div>
    <ul>
        <li>Accueil</li>
        <li>Boutique</li>
        <li>Contact</li>
    </ul>
</nav>