{% extends 'base.html.twig' %}

{% block title %}Paiement has been canceled{% endblock %}

{% block body %}
<h1>Thanks for your attempted order!</h1>
<p>
  We would appreciate your business!
 but your paiement has been canceled
</p>
{% endblock %}
