{% extends 'base.html.twig' %}

{% block title %}Thanks for your order!{% endblock %}

{% block body %}
    
      <h1>Nous vous remecions de votre commande</h1>
      <p>
        Nous apprécions l'intêret que vous portez à nos produits !
        Pour des infos supplémentaires ou des questions, envoyez nous un courriel à
        <a href="mailto:orders@example.com">orders@example.com</a>.
      </p>

{% endblock %}
